[submodule "lib/lovemidi"]
	path = lib/lovemidi
	url = https://github.com/jdeeny/lovemidi.git
	ignore = dirty
[submodule "lib/middleclass"]
	path = lib/middleclass
	url = https://github.com/kikito/middleclass.git
[submodule "lib/lume"]
	path = lib/lume
	url = https://github.com/rxi/lume.git
